# This workflow will run tests using node and then publish a package to NPM Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Pr Build

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build-test:
    runs-on: ubuntu-18.04
    env:
      # IMAGE_ORG_NAME、IMAGE_REPO_NAME 表示镜像仓库的组织名和仓库名
      # DEVOPS_ORG_NAME、DEVOPS_REPO_NAME 表示Github仓库上Devops工程的组织名和仓库名
      # ORG_NAME、REPO_NAME 表示Github仓库的组织名和仓库名
      EVENT_TYPE: pr-deploy
      NS_PREFIX: devops-test
      IMAGE_ORG_NAME: 36node
      IMAGE_REPO_NAME: devops-backend-test
      DEVOPS_ORG_NAME: cc3630
      DEVOPS_REPO_NAME: cc-devops-test
      ORG_NAME: cc3630
      REPO_NAME: devops-backend-test
    steps:
      - uses: actions/checkout@v2
      - name: Login aliyun
        uses: aliyun/acr-login@v1
        with:
          login-server: "${{ secrets.ALI_REGISTRY }}"
          username: "${{ secrets.ALI_USERNAME }}"
          password: "${{ secrets.ALI_PASSWORD }}"
      - name: Build and push image
        env:
          SERVER: ${{ secrets.ALI_REGISTRY }}
          VERSION: ${{ github.event.pull_request.number }}
        run: |
          docker build -t $SERVER/$IMAGE_ORG_NAME/$IMAGE_REPO_NAME:pr-$VERSION .
          docker push $SERVER/$IMAGE_ORG_NAME/$IMAGE_REPO_NAME:pr-$VERSION
      - name: Create repository dispatch event
        env:
          URL: https://api.github.com/repos/${{ env.DEVOPS_ORG_NAME }}/${{ env.DEVOPS_REPO_NAME }}/dispatches
          NAMESPACE: ${{ env.NS_PREFIX }}-${{ env.REPO_NAME }}-pr-${{ github.event.pull_request.number}}
          DEPLOY_URL_PREFIX: https://api.${{ env.NS_PREFIX }}-${{ env.REPO_NAME }}-pr-${{ github.event.pull_request.number}}
          DEPLOY_URL_SUFFIX: /${{ env.REPO_NAME }}/v0
          PR_OPEN: ${{ github.event.pull_request.type == 'opened' }}
        uses: fjogeleit/http-request-action@master
        with:
          url: ${{ env.URL }}
          method: "POST"
          customHeaders: '{"Accept":"application/vnd.github.v3+json","Authorization":"token ${{ secrets.PR_TOKEN }}"}'
          data: '{"event_type":"${{ env.EVENT_TYPE }}","client_payload":{"namespace":"${{ env.NAMESPACE }}","deploy_url_prefix":"${{ env.DEPLOY_URL_PREFIX }}","deploy_url_suffix":"${{ env.DEPLOY_URL_SUFFIX }}""image_org":"${{ env.IMAGE_ORG_NAME }}","image_repo":"${{ env.IMAGE_REPO_NAME }}","org":"${{ env.REPO_NAME }}","repo":"${{ env.REPO_NAME }}","number":"${{ github.event.pull_request.number }}","tag":"pr-${{ github.event.pull_request.number }}","open":${{ env.PR_OPEN }}}}'
